.footer-container {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  max-width: 300px;
  
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  color: white;
  margin: 20px;
  font-size: 24px;
  cursor: pointer;
}
.webcenter {
  color: #fff;
  margin-bottom: 16px;
}


