/* Quiz Creator Styles */
.container-menu {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000000bd;
    border-radius: 5px;
    background-color: #ece7e7;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  .btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;

  }
  
  /* Quiz Questions Styles */
  .mt-3 {
    margin-top: 15px;
  }
  
  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 5px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
  }
  
  /* Selected Quiz Type Styles */
  p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #007bff;
  }
  