.userAccount-container {
  display: flex;
  max-width: 980px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #000000bd;
  border-radius: 5px;
  background-color: #ece7e7;
}
.input-control{
  margin-left: 100px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}