.userAccount-container {
  display: flex;
  max-width: 980px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  margin-right: 10px;
}

.btn-secondary {
  background-color: #ccc;
  color: #000;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #0056b3;
}
.mb-3 {
  padding: 10px;
}